* {
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    box-sizing: border-box;
}

.hero {
    width: 100vw;
    height: 100vh;
    background-image: url(img3.jpg), linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 255, 0, 0.6));
    background-blend-mode: darken;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 40px;
    padding-left: 10%;
    padding-right: 10%;
}

.logo {
    color: white;
    font-size: 28px;
}

span {
    color: rgb(207, 21, 21);
}

nav ul li {
    list-style-type: none;
    display: inline-block;
    padding: 10px 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

nav ul li a:hover {
    color: rgb(59, 193, 202);
    transition: .3s;
    background-color: aquamarine;
    border-radius: 5px;
    padding: 10px;
}

button {
    border: none;
    background-color: rgb(236, 61, 17);
    padding: 8px 30px;
    border-radius: 30px;
    color: white;
    font-weight: bold;
    font-size: 15px;
    transition: .4s;
}

button:hover {
    transform: scale(1.3);
}